@charset "UTF-8";


/* General Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
 
::-webkit-scrollbar-track {
    background-color: #000; 
}
  
 
::-webkit-scrollbar-thumb {
    background-color: #7B2CBF;
    transition: 0.3s;
    border-radius: 20px;
}
  
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a159e0;
}
::-webkit-scrollbar-thumb:focus{
    border-radius: 20px;
}   

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #7B2CBF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-submit input:hover{
    box-shadow: 0px 0px 8px #7a2cbf;
    transform: scale(1.05);
}

h2.title{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.title span{
    color: #7a2cbf;
}
/* Header Style */

header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: right;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.desktop-menu a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.desktop-menu ul li{
    display: inline-block;
    padding: 0 40px;
} 

/* Style Mobile */

.btn-open-menu i{
    color: #7a2cbf;
    font-size: 40px;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.open-menu{
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile nav ul{
    text-align: right;
}

header .menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #7a2cbf;
    color: #000;
}

.menu-mobile .btn-close{
    padding: 20px 5%;
}

.menu-mobile .btn-close i{
    color: #7a2cbf;
    font-size: 30px;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-open-menu{
    display: none;
}
/* style of the top*/

section.top-of-site{
    padding: 40px 4%;
}

section.top-of-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px; /* Da uma distância entre os elementos*/
}

.top-of-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.top-of-site .txt-top-of-site h1 span{
    color: #7a2cbf;
    font-size: 70px;
}

.top-of-site .txt-top-of-site p{
    color: #fff;
    margin: 40px 0;
}

.top-of-site .img-top-of-site img{
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: rgba(122, 44, 191, 0.4) 0px 5px,rgba(122, 44, 191, 0.3) 0px 10px,rgba(122, 44, 191, 0.2) 0px 15px,rgba(122, 44, 191, 0.1) 0px 20px,rgba(122, 44, 191, 0.05) 0px 25px;
    border: 2px solid #7a2cbf ;
}

@keyframes float{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Style of specialties */

section.specialties{
    padding: 40px 4%;
}

section.specialties .flex{
    gap: 60px;
}

.specialties .specialties-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.specialties .specialties-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff79;
}

.specialties .specialties-box i{
    font-size: 70px;
    color: #7a2cbf;
}

.specialties .specialties-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Style About */

section.about{
    padding: 80px 4%;
}

section.about .flex{
    align-items: center;
    gap: 60px;
}

.about .txt-about{
    color: #fff;
}

.about .txt-about h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.about .txt-about span{
    color: #7a2cbf;
    display: block;
}

.about .txt-about p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #7a2cbf;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.img-about img{
    width: 32rem;
    height: 40rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #7a2cbf;
}

/* Portfolio Style */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

section.portfolio .flex{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 48px;
    position: relative;
    margin-top: 4%;
}

.img-port:hover{
    background-position: 100% 100%;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* STYLE FORM */

section.form{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}


form .btn-submit{
    margin-top: 20px;
    text-align: center;
}

form .btn-submit input{
    width: 120px;
    background-color: #7a2cbf;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Style Certificates */

section.certificates{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

.flexCertif{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.img-general {
    width: 360px;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
    border-radius: 48px;
    position: relative;
    margin: 0 1em;
}

.img-general:hover {
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 0 0 40px 2px #7a2cbf;
}

.imgLanguages{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4%;
}

.imgLanguages img {
    width: 12rem;
    height: auto;
    margin: 2%;
    transition: all .3s ease;
}


.imgLanguages img:hover{
    transform: scale(1.09);
    cursor: pointer;
}

    

/* STYLE FOOTER */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

.logo-footer img{
    width: 100px;
    height: 100px;
}

footer .flex{
    justify-content: center;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #7a2cbf;;
}

footer .line-footer p i {
    color: #7a2cbf;
    font-size: 22px;
}


footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    /* General Class */

    .flex{
        flex-direction: column;
    }

    .top-of-site, .flex{
        flex-direction: column-reverse;
    }

    /* Style Header */

    section.top-of-site{
        padding: 20px 8%;
    }

    .desktop-menu, .btn-contact{
        display: none;
    }

    .top-of-site .img-top-of-site img{
        width: 23rem;
        height: 23rem;
    }

    /* Style Specialties */

    section.specialties{
        padding: 40px 8%;
    }

    .row {
        flex-direction: column; 
        margin-bottom: 1em; 
    }
    
    .img-general {
        width: 100%; 
        max-width: none;
        margin: 0; 
        margin-bottom: 1em; 
    }

    /* Style About */

    section.about{
        padding: 80px 8%;
    }

    .btn-social{
        text-align: center;
    }

    .img-about img{
        width: 23rem;
        height: 30rem;
    }

    /* Style Portfolio */

    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex{
        gap: 60px;
    }

    /* Style Certificates */

    .img-general {
        width: 360px;
        height: 280px;
        border-radius: 48px;
        margin: 4em auto;
        box-shadow: 0 0 10px 2px #7a2cbf;
    }
    
    .img-general:hover {
        cursor: pointer;
        transform: none;
    }
    /* Remover após colocar os próximos portfolios */
    .img-general2 {
        width: 360px;
        height: 280px;
        border-radius: 48px;
        margin: 4em auto;
        box-shadow: 0 0 10px 2px #7a2cbf;
    }
    
    .img-general2:hover {
        cursor: pointer;
        transform: none;
    }

    /* Style Mobile */
    .btn-open-menu{
        display: block;
    }

    .imgLanguages{
        flex-direction: column;
    }
}